<h1>PROPERTIES</h1>
{{>nav}}

<table style="width:50%; border:1px solid black; border-collapse:collapse;" class="propertytable">
    <tr>
      <th>Image</th>
      <th>Address</th> 
      <th>Date Submitted</th>
      <th>Percentage Rating</th>
    </tr>
    
      {{#each propertyList.p}}
      <tr>
      <td>
        <a href="/property/{{id}}"><img src="{{image}}"></a>
      </td>
      <td>
       {{street}},{{suburb}},{{city}} 
        </td>
        <td>
        {{datetime}}
      </td>
      <td>
        {{percentage}}
      </td>
      </tr>
      {{/each}}
    {{!-- need function to calculate percentage rating  --}}
  </table>
</div>
