{{>nav}}
<h1>PROPERTY</h1>
 <img id="mainlogo" src="./images/logo.png">

  <h1>RATE ME RENTAL SUMMARY RESULTS</h1> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          {{image}}
        </div>
          <div class="col-md-8">
          {{street}}, {{city}}, {{postcode}}
        </div>
      </div>

    {{feedbackForm}}

    </div>

{{>footer}}
      {{!-- <p>property</p>
      {{#each propertyFeedback}}
      {{id}} was added on {{date_submitted}} --}}