<h1>PROPERTIES</h1>
{{>nav}}
    {{!-- <tr>
      <th>Image</th>
      <th>Address</th> 
      <th>Date Submitted</th>
      <th>Percentage Rating</th>
    </tr> --}}
    <tr>
      {{#each propertyList.p}}
      <td>
        <a href="/property/{{id}}"><img src="{{image}}"></a> <br>
        <b>Address:</b> {{street}},{{suburb}},{{city}} <br>
        <b>Update Date:</b> {{datetime}},{{suburb}},{{city}}<br>
      </td>
      {{/each}}
    {{!-- need function to calculate percentage rating  --}}
    </tr>
  </table>

