{{>nav>>}}
 <img id="mainlogo" src="./images/logo.png">

{{#each properties}}
<a href="/property/{{id}}">{{street}}, {{city}}, {{postcode}}</a>
{{/each}}

<h2></h2>
  <table class="propertylist" style="width:80%">
    <tr>
      <th>Image</th>
      <th>Address</th> 
      <th>Date Submitted</th>
      <th>Percentage Rating</th>
    </tr>
    <tr>
      {{#each properties}}
      <td href=""/property/{{id}}">{{image}}</td>
      {{/each}}
      {{#each properties}}
      <td>{{street}},{{suburb}},{{city}}</td>
      {{/each}}
      {{#each feedback}} 
      <td>{{datetime}}</td>
      {{/each}}
    {{!-- need function to calculate percentage rating  --}}
    
    </tr>
  </table>

  {{>footer}}