
{{>nav}}

    <tr>
      <th>Image</th>
      <th>Address</th> 
      <th>Date Submitted</th>
      <th>Percentage Rating</th>
    </tr>
    <tr>
      {{#each properties}}
      <td href="/property/{{id}}">{{image}}</td>
      {{/each}}
      {{#each properties}}
      <td>{{street}},{{suburb}},{{city}}</td>
      {{/each}}
      {{#each propertyFeedback}} 
      <td>{{id.datetime}}</td>
      {{/each}}
    {{!-- need function to calculate percentage rating  --}}
    </tr>
  </table>

