
{{>nav}}

    <tr>
      <th>Image</th>
      <th>Address</th> 
      <th>Date Submitted</th>
      <th>Percentage Rating</th>
    </tr>
    <tr>
      {{#each propertyList.p}}
      <td href="/property/{{id}}"><img src="{{image}}"></td>
      {{/each}}
      {{#each propertyList.p}}
      <td>{{street}},{{suburb}},{{city}}</td>
      {{/each}}
      {{#each propertyList.p}} 
      <td>{{datetime}}</td>
      {{/each}}
    {{!-- need function to calculate percentage rating  --}}
    </tr>
  </table>

